<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="${title}">首页</title>
    <script th:replace="/common/bootstrap"></script>
    <script th:replace="/common/adminlte"></script>

    <style>
        .inner-container {
            /*overflow-x: hidden;*/
            overflow-y: hidden;
        }

        .inner-container::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini inner-container">
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a th:href="@{/home}" href="/home" class="nav-link">Home</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link">Contact</a>
            </li>
        </ul>

        <!-- SEARCH FORM -->
        <form class="form-inline ml-3">
            <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Messages Dropdown Menu -->
            <!--<li class="nav-item dropdown">-->
            <!--<a class="nav-link" data-toggle="dropdown" href="#">-->
            <!--<i class="fa fa-comments-o"></i>-->
            <!--<span class="badge badge-danger navbar-badge">3</span>-->
            <!--</a>-->
            <!--<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">-->
            <!--<a href="#" class="dropdown-item">-->
            <!--&lt;!&ndash; Message Start &ndash;&gt;-->
            <!--<div class="media">-->
            <!--<img th:src="@{/image/avatar5.png}" alt="User Avatar" class="img-size-50 mr-3 img-circle">-->
            <!--<div class="media-body">-->
            <!--<h3 class="dropdown-item-title">-->
            <!--Brad Diesel-->
            <!--<span class="float-right text-sm text-danger"><i class="fa fa-star"></i></span>-->
            <!--</h3>-->
            <!--<p class="text-sm">Call me whenever you can...</p>-->
            <!--<p class="text-sm text-muted"><i class="fa fa-clock-o mr-1"></i> 4 Hours Ago</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Message End &ndash;&gt;-->
            <!--</a>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a href="#" class="dropdown-item">-->
            <!--&lt;!&ndash; Message Start &ndash;&gt;-->
            <!--<div class="media">-->
            <!--<img src="dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">-->
            <!--<div class="media-body">-->
            <!--<h3 class="dropdown-item-title">-->
            <!--John Pierce-->
            <!--<span class="float-right text-sm text-muted"><i class="fa fa-star"></i></span>-->
            <!--</h3>-->
            <!--<p class="text-sm">I got your message bro</p>-->
            <!--<p class="text-sm text-muted"><i class="fa fa-clock-o mr-1"></i> 4 Hours Ago</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Message End &ndash;&gt;-->
            <!--</a>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a href="#" class="dropdown-item dropdown-footer">See All Messages</a>-->
            <!--</div>-->
            <!--</li>-->
            <!--&lt;!&ndash; Notifications Dropdown Menu &ndash;&gt;-->
            <!--<li class="nav-item dropdown">-->
            <!--<a class="nav-link" data-toggle="dropdown" href="#">-->
            <!--<i class="fa fa-bell-o"></i>-->
            <!--<span class="badge badge-warning navbar-badge">15</span>-->
            <!--</a>-->
            <!--<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">-->
            <!--<span class="dropdown-item dropdown-header">15 Notifications</span>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a href="#" class="dropdown-item">-->
            <!--<i class="fa fa-envelope mr-2"></i> 4 new messages-->
            <!--<span class="float-right text-muted text-sm">3 mins</span>-->
            <!--</a>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a href="#" class="dropdown-item">-->
            <!--<i class="fa fa-users mr-2"></i> 8 friend requests-->
            <!--<span class="float-right text-muted text-sm">12 hours</span>-->
            <!--</a>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a href="#" class="dropdown-item">-->
            <!--<i class="fa fa-file mr-2"></i> 3 new reports-->
            <!--<span class="float-right text-muted text-sm">2 days</span>-->
            <!--</a>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>-->
            <!--</div>-->
            <!--</li>-->
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/SongwenWYU/jcom-cms-web"><i class="fa fa-github" aria-hidden="true"></i> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#"><i
                        class="fa fa-th-large"></i></a>
            </li>
        </ul>
    </nav>


    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a th:href="@{/home}" href="/home" class="brand-link">
            <img th:src="@{/image/logo-64x64.ico}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light" th:text="${title}">Mango - JCOM</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img th:src="@{/image/avatar5.png}" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" data-toggle="modal" data-target="#userModal" class="d-block" th:text="${nickname}">用户名</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <!--<li class="nav-item">-->
                        <!--<a href="#" data-url="/dashboard" class="nav-link menu-item active">-->
                            <!--<i class="nav-icon fa fa-dashboard"></i>-->
                            <!--<p>-->
                                <!--Dashboard-->
                                <!--&lt;!&ndash;<span class="right badge badge-danger">New</span>&ndash;&gt;-->
                            <!--</p>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="nav-item">-->
                        <!--<a href="#" class="nav-link">-->
                            <!--<i class="nav-icon fa fa-circle-o text-info"></i>-->
                            <!--<p>Informational</p>-->
                        <!--</a>-->
                    <!--</li>-->
                    <li th:replace="/common/menu-template :: menu-template (${menu})">

                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <!--<div class="content-wrapper">-->
    <!-- Content Header (Page header) -->
    <!--<div class="content-header">-->
    <!--<div class="container-fluid">-->
    <!--<div class="row mb-2">-->
    <!--<div class="col-sm-6">-->
    <!--<h1 class="m-0 text-dark">Dashboard v3</h1>-->
    <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
    <!--<div class="col-sm-6">-->
    <!--<ol class="breadcrumb float-sm-right">-->
    <!--<li class="breadcrumb-item"><a href="#">Home</a></li>-->
    <!--<li class="breadcrumb-item active">Dashboard v3</li>-->
    <!--</ol>-->
    <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
    <!--</div>-->
    <!-- /.content-header -->

    <!-- Main content -->
    <!--<div class="content">-->
        <!--<iframe class="content-wrapper embed-responsive page-content" frameborder="0" style="z-index: -11"-->
                <!--th:src="@{/dashboard}"></iframe>-->
    <!--</div>-->
    <div class="content-wrapper" id="mainContent">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <iframe class="embed-responsive page-content" frameborder="0" style="min-height: 100%"
                            th:src="@{/}"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>

    <!-- Modal -->
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">用户信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="username">用户名</label>
                            <input type="text" th:value="${username}" readonly class="form-control-plaintext" id="username" aria-describedby="emailHelp" placeholder="用户名">
                        </div>
                        <div class="form-group">
                            <label for="nickname">昵称</label>
                            <input type="text" th:value="${nickname}" readonly class="form-control-plaintext" id="nickname" placeholder="昵称">
                        </div>
                        <div class="form-group">
                            <label for="email">邮箱</label>
                            <input type="email" th:value="${email}" readonly class="form-control-plaintext" id="email" placeholder="邮箱">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm menu-item" data-dismiss="modal" th:data-url="@{/u/user/detailPage}">修改用户信息</button>
                    <button type="button" class="btn btn-success btn-sm menu-item" data-dismiss="modal" th:data-url="@{/u/user/pwdPage}">修改密码</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Footer -->
    <footer class="main-footer">
        <!--<div class="float-right d-none d-sm-block">-->
        <!--<b>Version</b> <span th:text="${version}"></span>-->
        <!--</div>-->
        <strong>Copyright &copy; [[${#dates.format(new java.util.Date().getTime(), 'yyyy')}]] <a href="https://github.com/SongwenWYU/jcom-cms-web">songwen</a>.</strong>
        All rights
        reserved.
    </footer>

</div>
<script th:src="@{/page/index/js/home.js}"></script>
</body>
</html>