<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS Dependencies -->
<!--<link rel="stylesheet" href="https://unpkg.com/shards-ui@2.0.3/dist/css/shards.min.css">-->
<!---->
<!--<script src="https://unpkg.com/shards-ui@2.0.3/dist/js/shards.min.js"></script>-->
<link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}"/>
<link rel="stylesheet" th:href="@{/Shards-Version-2.0.3/css/shards.min.css}"/>
<script th:src="@{/Shards-Version-2.0.3/js/shards.min.js}"></script>