<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script th:replace="/common/bootstrap"></script>
    <script th:replace="/common/adminlte"></script>
    <title>更新密码</title>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">更新密码</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
</body>
</html>